fastapi>=0.110.0
uvicorn>=0.28.0
pydantic[email]>=2.6.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0
pyjwt>=2.8.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0
groq>=0.4.0
redis>=5.0.0
sendgrid>=6.12.0
python-multipart>=0.0.9
pypdf>=4.0.0
gTTS>=2.5.1
fastapi-limiter==0.1.6

pydantic-settings>=2.2.1
